* {
  margin: 0;
}

body {
  background-image: url("https://media.istockphoto.com/vectors/taco-seamless-pattern-traditional-mexican-food-background-corn-vector-id636845328?b=1&k=20&m=636845328&s=612x612&w=0&h=JVFjydJRHk5adIskI4wy0AC4RxA0JNvbDAoHDGbo2X4=");
}

.box-background {
  background-color: #ad4132;
  border: solid black 5px;
  border-radius: 15px;
}

.box-background-bottom {
  border: solid #eaca3e 2px;
}

.left-box {
  display: flex;
  flex-direction: column;
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrow-div {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 5vh;
  gap: 25vw;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-left: 30px solid black;

  margin: 2rem;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;

  border-right: 30px solid black;

  margin: 2rem;
}

.brand-name {
  text-align: center;
  text-shadow: 2px 2px black;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 36px;
}

.menu-options {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid #c6db9f 1px;
}

.review-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review-top-half {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.review-name {
  font-size: 30px;
}

.review-description {
  text-align: center;
  font-size: 24px;
  padding-top: 5vh;
}

.food-item {
  background-color: #afa842;
  border: solid white 3px;
  display: flex;
  justify-content: space-evenly;
}

/* SCROLL BAR */
.mostly-customized-scrollbar {
  display: block;
  overflow: auto;
}

.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 8px;
}

.food-item-holder {
  color: black;
  border-top: solid #eaca3e 2px;
  border-left: solid #eaca3e 2px;
  border-bottom: solid black 3px;
  border-right: solid black 3px;
  display: flex;
  flex-direction: row;
  background-color: #f7b791;
  border-radius: 10px;
}

.food-item-image {
  border-radius: 4px;
}

.food-item-flex-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.food-item-name {
  text-align: center;
}

#TACOMENU {
  font-size: 24px;
}

#BURRITOMENU {
  font-size: 24px;
}

#SIDESMENU {
  font-size: 24px;
}

#FOOD-ITEM-PARENT {
  display: flex;
  flex-direction: column;
}

/* FOOD ITEM  */
.mainFoodFlex {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.foodNamePriceFlex {
  display: flex;
  justify-content: space-evenly;
}

.foodDescription {
  text-align: center;
}

/* my iphone is roughly 286 wide 560 height */
.main-float {
  display: flex;
  justify-content: space-evenly;
}

.brand-name {
  margin: 25px 0;
}

.box-background-top,
.box-background-bottom {
  height: 32.5vh;
}

.box-background-bottom {
  height: 25vh;
}

.box-background {
  width: 45vw;
  height: 43vw;
}

.right-box {
  height: 87vh;
}

.food-item-image {
  width: 15vw;
  height: 15vh;
  margin: auto;
}

#FOOD-ITEM-PARENT {
  width: 45vw;
  padding: 0 5vw;
}

#FOOD-ITEM-HOLDER {
  width: 35vw;
  margin-top: 5vh;
}

#ImageReviewBox {
  width: 35vw;
  height: 37vh;
  border-radius: 15px;
  margin: 55px 97px;
}
